
.corpodosite__manchete{
    text-align: center;
    margin: 2em;
}

.corpodosite__manchete__titulo{
    font-size: 24px;
    font-weight: 900;
}

.corpodosite__manchete__subtitulo{
    font-size: 20px;
    margin: 0.5em;
    font-weight: 500;
}

p{
    text-indent: 1.5em;
    margin: 1em;
}